@font-face {
    font-family: 'DrukWideMedium';
    src: url('../fonts/DrukWideMedium.eot');
    src: url('../fonts/DrukWideMedium.eot') format('embedded-opentype'),
         url('../fonts/DrukWideMedium.woff2') format('woff2'),
         url('../fonts/DrukWideMedium.woff') format('woff'),
         url('../fonts/DrukWideMedium.ttf') format('truetype'),
         url('../fonts/DrukWideMedium.svg#DrukWideMedium') format('svg');
}
* {
    padding: 0;
    margin: 0;
	box-sizing: border-box;
}
body{
	font-family: arial,helvetica;
    color: #fff;
	background: #000;
}
a{
	text-decoration:none;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
	font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}

/* Custom CSS
/* --------------------------------------- */
html.fp-enabled,
.fp-enabled body {
    overflow:hidden;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.fp-section {
    position: relative;
    -webkit-box-sizing: border-box; /* Safari<=5 Android<=3 */
    -moz-box-sizing: border-box; /* <=28 */
    box-sizing: border-box;
}
.fp-slide {
    float: left;
}
.fp-slide, .fp-slidesContainer {
    height: 100%;
    display: block;
}
.fp-slides {
    z-index:1;
    height: 100%;
    overflow: hidden;
    position: relative;
    -webkit-transition: all 0.3s ease-out; /* Safari<=6 Android<=4.3 */
    transition: all 0.3s ease-out;
}
.fp-section.fp-table, .fp-slide.fp-table {
    display: table;
    table-layout:fixed;
    width: 100%;
}
.fp-tableCell {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}
.fp-slidesContainer {
    float: left;
    position: relative;
}
.fp-controlArrow {
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
    position: absolute;
    z-index: 4;
    top: 50%;
    cursor: pointer;
    width: 0;
    height: 0;
    border-style: solid;
    margin-top: -38px;
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.fp-controlArrow.fp-prev {
    left: 15px;
    width: 0;
    border-width: 38.5px 34px 38.5px 0;
    border-color: transparent #fff transparent transparent;
}
.fp-controlArrow.fp-next {
    right: 15px;
    border-width: 38.5px 0 38.5px 34px;
    border-color: transparent transparent transparent #fff;
}
.fp-scrollable {
    overflow: hidden;
    position: relative;
}
.fp-scroller{
    overflow: hidden;
}
.iScrollIndicator{
    border: 0 !important;
}
.fp-notransition {
    -webkit-transition: none !important;
    transition: none !important;
}
#fp-nav {
    position: fixed;
    z-index: 100;
    margin-top: -32px;
    top: 50%;
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
}
#fp-nav.fp-right {
    right: 17px;
}
#fp-nav.fp-left {
    left: 17px;
}
.fp-slidesNav{
    position: absolute;
    z-index: 4;
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    left: 0 !important;
    right: 0;
    margin: 0 auto !important;
}
.fp-slidesNav.fp-bottom {
    bottom: 17px;
}
.fp-slidesNav.fp-top {
    top: 17px;
}
#fp-nav ul,
.fp-slidesNav ul {
  margin: 0;
  padding: 0;
}
#fp-nav ul li,
.fp-slidesNav ul li {
    display: block;
    width: 14px;
    height: 13px;
    margin: 7px;
    position:relative;
}
.fp-slidesNav ul li {
    display: inline-block;
}
#fp-nav ul li a,
.fp-slidesNav ul li a {
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
}
#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span{
    height: 12px;
    width: 12px;
    margin: -6px 0 0 -6px;
    border-radius: 100%;
 }
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    height: 4px;
    width: 4px;
    border: 0;
    background: #333;
    left: 50%;
    top: 50%;
    margin: -2px 0 0 -2px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
#fp-nav ul li:hover a span,
.fp-slidesNav ul li:hover a span{
    width: 10px;
    height: 10px;
    margin: -5px 0px 0px -5px;
}
#fp-nav ul li .fp-tooltip {
    position: absolute;
    top: -2px;
    color: #fff;
    font-size: 14px;
    font-family: arial, helvetica, sans-serif;
    white-space: nowrap;
    max-width: 220px;
    overflow: hidden;
    display: block;
    opacity: 0;
    width: 0;
    cursor: pointer;
}
#fp-nav ul li:hover .fp-tooltip,
#fp-nav.fp-show-active a.active + .fp-tooltip {
    -webkit-transition: opacity 0.2s ease-in;
    transition: opacity 0.2s ease-in;
    width: auto;
    opacity: 1;
}
#fp-nav ul li .fp-tooltip.fp-right {
    right: 20px;
}
#fp-nav ul li .fp-tooltip.fp-left {
    left: 20px;
}
.fp-auto-height.fp-section,
.fp-auto-height .fp-slide,
.fp-auto-height .fp-tableCell{
    height: auto !important;
}

.fp-responsive .fp-auto-height-responsive.fp-section,
.fp-responsive .fp-auto-height-responsive .fp-slide,
.fp-responsive .fp-auto-height-responsive .fp-tableCell {
    height: auto !important;
}

/*Only display content to screen readers*/
.fp-sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}
.header_view {
    background: transparent;
    position: fixed;
    max-width: 96%;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 40px 15px 20px 15px;
	z-index:99;
}
.brand_name a 
{
	font-size:12px;
}
.footer_view {
    background: transparent;
    position: fixed;
    max-width: 1170px;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 0px 15px 20px 15px;
    bottom: 0;
	z-index:99;
}
.footer_view a{
	color: #aaa;
}
/* --------------------------------------- */
a.scroll{
	text-align: center;
    margin: 0px 0px;
    color: #fff;
    font-size: 14px;
    position: fixed;
    bottom: 40px;
    left: 0px;
    right: 0px;
}
a.scroll-2{
	position:absolute !important;
}
.client-review{
	text-align: left;
	float: right;
	margin-right: 20%;
	padding: 25px 15px 15px 15px;
}
.client-review h4{
	font-family: Arial;
    font-size: 14px;
    color: #E5E5E5;
	margin-bottom: 10px;
}
.client-review p{
	font-family: Arial;
    font-size: 12px;
    color: #888;
}
.wrap{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
}
.split {
    font-size: 20px;
    line-height: 28px;
	color: #5E5E5E;
}
.contact-heading{
	font-size: 20px;
    line-height: 28px;
	color: #5E5E5E;
}
.intro p{
	width: 50%;
	margin: 0 auto;
	font-size: 1.5em;
}
.section{
	text-align:center;
}
.controls_menu
{
	margin-right:30px !important;
}
.controls_menu ul li{
    position: relative;
}
.controls_menu ul li.active:nth-child(1):after {
    content: '';
    width: 22px;
    height: 1px;
    display: inline-block;
    background: #fff;
    position: absolute;
    left: -4px;
    bottom: -6px;
}
.controls_menu ul li.active:nth-child(2):after {
    content: '';
    width: 46px;
    height: 1px;
    display: inline-block;
    background: #fff;
    position: absolute;
    left: -4px;
    bottom: -6px;
}
.controls_menu ul li.active:nth-child(3):after {
    content: '';
    width: 68px;
    height: 1px;
    display: inline-block;
    background: #fff;
    position: absolute;
    left: -4px;
    bottom: -6px;
}
.devide_row {
    height: 1px;
    width: 68px;
    background: #2D2D2D;
	margin: 5px 0px;
}
.controls_menu ul li a{
	text-decoration:none;
	color: #000;
	font-size:12px;
}
.controls_menu ul li.active {
    margin: 0px 4px;
}
.controls_menu ul li a {
    display: none;
}
.controls_menu ul li.active a{
    color: #fff;
    display: block;
}
.controls_menu ul li.active a{
	color: #fff;
}
.controls_menu {
    position: fixed;
    top: 50%;
    right: 0;
    z-index: 70;
    padding: 0;
    margin: 0;
    transform: translateY(-50%);
	text-align: center;
}

/* Demos Menu
 * --------------------------------------- */
 #demosMenu{
	position:fixed;
	bottom: 10px;
	right:10px;
	z-index: 999;
 }
a {
    color: #fff;
}
.about-menu {
	position: absolute;
    top: 8em;
    max-width: 1170px;
    left: 0;
    right: 0;
    margin: 40px auto;
    padding: 0 15px;
    bottom: 0;
    z-index: 99;
}
.about-menu a, .chat_view a {
	color:#888;
	font-size:14px;
	border-bottom:1px solid #888;
	padding-bottom: 4px;
	transition: 0.5s;
}
.about-menu a:hover, .about-menu a:focus, .about-menu a:active, .chat_view a:hover, .chat_view a:focus, .chat_view a:active
{
	color:#fff;
	border-bottom:1px solid #fff;
	padding-right: 10px;
}
.about_intro h2 {
    font-size: 14px;
    margin-bottom: 20px;
	color:#E5E5E5;
}
.contact_id {
    font-size: 75px;
    font-weight: bolder;
}
.fullpage-wrapper {
    position: absolute !important;
    padding: 0 15px;
	/* z-index: 999999; */
}
.call_action,
.about_intro {
    max-width: 740px;
    text-align: left;
    margin: 0 auto;
}
.contact_id:hover {
    color: #ffffff;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: ffffff;
}
.contact_id {
    font-size: 88px;
    font-weight: bolder;
    word-break: break-all;
    line-height: 90px;
    display: block;
    margin-top: 15px;
	font-family: 'DrukWideMedium';
}
/* ---------- menu list style --------- */
.Menu-list {
  line-height: 1.2;
  text-transform: uppercase;
  text-align: left;
  display: inline-block;
  flex-direction: column;
  align-items: center;
 -webkit-transform: rotateX(-10deg) rotateY(20deg);
  transform: rotateX(-10deg) rotateY(20deg);
  max-width: 755px;
}
.Menu-list-item {
  position: relative;
  color: transparent;
  cursor: pointer;
  display: inline-block;
  font-weight: 900;
  font-size:140px;
  line-height:140px;
  font-family: 'DrukWideMedium';
}
.Menu-list-item::before {
  content: '';
  display: block;
  position: absolute;
  top: 49%;
  left: -10%;
  right: -10%;
  height: 4px;
  border-radius: 4px;
  margin-top: -2px;
  background: #fff;
  -webkit-transform: scale(0);
          transform: scale(0);
  transition: -webkit-transform 0.8s cubic-bezier(0.16, 1.08, 0.38, 0.98);
  transition: transform 0.8s cubic-bezier(0.16, 1.08, 0.38, 0.98);
  transition: transform 0.8s cubic-bezier(0.16, 1.08, 0.38, 0.98), -webkit-transform 0.8s cubic-bezier(0.16, 1.08, 0.38, 0.98);
  z-index: 1;
}

.Mask {
  display: block;
  position: absolute;
  overflow: hidden;
  color: #FFF;
  top: 0;
  height: 49%;
  transition: all 0.8s cubic-bezier(0.16, 1.08, 0.38, 0.98);
}
.Mask span {
  display: block;
}

.Mask + .Mask {
  top: 48.9%;
  height: 51.1%;
}
.Mask + .Mask span {
  -webkit-transform: translateY(-49%);
          transform: translateY(-49%);
}

.Menu-list-item:hover .Mask,
.Menu-list-item:active .Mask {
  color: #FFF;
  -webkit-transform: skewX(12deg) translateX(5px);
          transform: skewX(12deg) translateX(5px);
}
.Menu-list-item:hover .Mask + .Mask,
.Menu-list-item:active .Mask + .Mask {
  -webkit-transform: skewX(12deg) translateX(-5px);
          transform: skewX(12deg) translateX(-5px);
}
.Menu-list-item:hover::before,
.Menu-list-item:active::before {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.desktop{
	display:block;
}
.mobile{
	display:none;
}
.mobile-menu {
	float:right;
	margin-top:-15px;
	display:none;
}
/* .fp-completely .call_action {
  position: relative;
  animation-name: animation_set;
  animation-duration: 0.6s;
  opacity:1;
}
 .call_action {
  opacity:0;
}
@-webkit-keyframes animation_set {
  0%   {top:200px; opacity:0;}
  100% {top:0px; opacity:1;}
}
@keyframes animation_set {
  0%   {top:200px; opacity:0;}
  100% {top:0px; opacity:1;}
} */

.fp-completely .call_action .contact-heading,
.fp-completely .about_intro h2 {
  position: relative;
  animation-name: animation_set2;
  animation-duration: 0.8s;
  opacity:1;
}
.call_action .contact-heading,
.about_intro h2 {
  opacity:0;
}
@-webkit-keyframes animation_set2 {
  0%   {top:200px; opacity:0;}
  100% {top:0px; opacity:1;}
}
@keyframes animation_set2 {
  0%   {top:200px; opacity:0;}
  100% {top:0px; opacity:1;}
}

.fp-completely .call_action .contact_id,
.fp-completely .about_intro .contact-heading {
  position: relative;
  animation-name: animation_set3;
  animation-duration: 1.5s;
  opacity:1;
}
.call_action .contact_id,
.about_intro .contact-heading {
  opacity:0;
}
@-webkit-keyframes animation_set3 {
  0%   {top:100px; opacity:0;}
  100% {top:0px; opacity:1;}
}
@keyframes animation_set3 {
  0%   {top:100px; opacity:0;}
  100% {top:0px; opacity:1;}
}

@media only screen and (max-width: 1366px) {
	.Menu-list-item{
		font-size: 80px;
		line-height: 100px;
	}
}
@media only screen and (max-width: 1024px) {
	.Menu-list-item{
		font-size: 60px;
		line-height: 90px;
	}
	.fp-section.fp-table, .fp-slide.fp-table{
		width:85%;
		margin: 0 auto;
	}
}
@media only screen and (max-width: 767px) {
	.desktop, .client-review h4, .client-review p{
	display:none !important;
	}
	.mobile, .mobile-menu{
		display:block !important;
	}
	.Menu-list-item{
		font-size: 24px;
		line-height: 40px;
	}
	.Menu-list {
		max-width: 300px;
	}
	.client-review {
		display: none;
	}
	.header_view {
		padding: 30px 15px 0 15px;
	}
	.about-menu{
		top:3em;
		padding-left:40px;
	}
	.chat_view{
		padding-left:40px;
		margin-top:-60px;
	}
	.controls_menu{
		margin-right:0px !important;
	}
	a.scroll{
		bottom:20px;
	}
	.contact-heading {
		font-size: 16px;
		line-height: 22px;
	}
	.contact_id {
		font-size: 35px;
		line-height: 45px;
	}
	.fullpage-wrapper{
		left:10%;
	}
	.about-menu a, .chat_view a {
    font-size: 12px;
    }
	.fp-section.fp-table, .fp-slide.fp-table{
		width:85%;
	}
	#about{
		overflow:hidden;
	}
	.fp-section.fp-table, .fp-slide.fp-table{
		margin: 0;
	}
}

/* -------- //menu list style --------- */
@media only screen and (max-width: 420px) {

	.fullpage-wrapper{
		left:20px;
	}
}